#!/bin/bash 

test -n "$QLOAD" || QLOAD=/mnt/hgfs/Users/rweaves/share/qsys/${OSTYPE}.q

test -n "$QHOME" || QHOME=/mnt/hgfs/Users/rweaves/src/q
test -n "$QPROG" || QPROG=/mnt/hgfs/Users/rweaves/src/q/l32/q

test -n "$QPATH" || QPATH=/mnt/hgfs/Users/rweaves/share/qsys:$QHOME

export QLOAD
export QHOME
export QPROG
export QPATH

